# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\chrome下载地址\springMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
